.btn {
  position: fixed !important;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 999;
}

.btn:not(.show) {
  display: none;
}

/* Mobile */
@media (max-width: 480px) {}

/* Tablet */
@media (min-width: 481px) and (max-width: 760px) {}

/* Large tablet */
@media (min-width: 761px) and (max-width: 1440px) {}

/* Desktop */
@media (min-width: 1441px) {}